= simple_form_for @card_face do |f|
  = f.input :family_id, collection: CardFamily.all
  = f.input :face_id, collection: CardFace.all
  = f.input :print_seq_id, collection: PrintSeq.all
  = f.input :customer_num
  = f.input :plate_id
  = f.input :card_size_id, collection: CardSize.all
  = f.input :hd_color
  = f.input :ace_type_id
  = f.input :is_ace_serial
  = f.input :is_custom_ta
  = f.input :joker1_id
  = f.input :joker2_id
  = f.input :ad1_type_id
  = f.input :ad2_type_id
  = f.input :job_id, collection: Job.all
  = f.input :art_id
  = f.input :last_modified_by
  = f.input :m36_id
  = f.input :m40_id
  = f.input :approved_date
  = f.input :customer_approved_by
  = f.input :approved_by
  = f.input :comments
  = f.button :submit, "Save"
