%p#notice= notice

%p
  %b Customer num:
  = @job.customer_num
%p
  %b Product:
  = @job.product_id
%p
  %b Packaging:
  = @job.packaging_id
%p
  %b Card paper:
  = @job.card_paper_id

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
