%h1 Listing customers
= link_to 'New Customer', new_customer_path, class: 'btn btn-primary pull-right'

%table.table.table-bordered
  %thead
    %tr
      %th Sage
      %th Name
      %th Address1
      %th Address2
      %th Address3
      %th Contact name
      %th Contact email
      %th Contact phone
      %th
      %th
      %th

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.sage_id
        %td= customer.name
        %td= customer.address1
        %td= customer.address2
        %td= customer.address3
        %td= customer.contact_name
        %td= customer.contact_email
        %td= customer.contact_phone
        %td= link_to 'Show', customer
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

