%p#notice= notice

%p
  %b Name:
  = @card_packaging.name
%p
  %b Desc:
  = @card_packaging.desc
%p
  %b Item number:
  = @card_packaging.item_num

= link_to 'Edit', edit_card_packaging_path(@card_packaging)
\|
= link_to 'Back', card_packagings_path
